/* Common styles for both desktop and mobile */
.main2{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -70px;
} 
.main2 .sub-main-2{
  display: flex;
  flex-direction: row;
  columns: 3;
  gap: 40px;
}
.main2 .sub-main-2 .image {
  cursor: pointer;
}
.main2 .sub-main-2 .image:hover{
  transform: translate(5px, -10px);
  transition: 2s;
}
.image:hover img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main2 .sub-main-2 .image a{
  background-color: #07173b;
}

.a {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.main2 .sub-main-2 .image:hover a {
  background-color: hwb(0 0% 0%);
}
@media screen and (max-width:429px) {
    .main{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -30px;
      padding: 3px;
      padding-top: 0%;
    }
    .main .sub-main{
      display:block;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: -260px;
    }
    .main .sub-main .sub-sub-main{
      margin-left: -100%;
    }
    .main .sub-main .sub-sub-main1 button{
      position: relative;
      top: -50px;
      left: 50px;
      font-size: 20px;
      white-space: nowrap;
      background-color: rgb(88, 88, 100);
    }
    .main .sub-main .sub-sub-main1 button:hover{
          background-color: rgb(211,63,61);
    }
    .main .sub-main .sub-sub-main h3{
      visibility: hidden;
    }
    .main2{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -230px;
    }
    .main2 .sub-main-2{
      display: grid;
      grid-row: 1;
      width: 100%;
    }
    .main2 .sub-main-2 div{
      width: 100%;
      margin-bottom: 5%;
    }
}
@media screen and (min-width:768px) and (max-width:1114px){
  .main{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .main .sub-main{
    margin-bottom: 100px;
  }
  .main .sub-main .sub-sub-main{
    margin-left: -30px;
  }
  .main .sub-main .sub-sub-main h3{
    white-space: nowrap;
  }
  .main .sub-main .sub-sub-main1 button{
    visibility: hidden;
  }
  .main2 .sub-main-2{
    flex-direction: column;
  }
  .main2 .sub-main-2 div{
    margin-bottom: 40px;
  }
  .main2 .sub-main-2 div a{
    right: 70px;
    left: 70px;
    font-size: 30px;
  }
}