.about{
    margin: 2%;
    box-shadow: grey 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.about .heading-top{
    /* box-shadow: red 0px 5px 15px; */
    margin-bottom: 2%;
    justify-content: center;
    display: flex;
}
.about .heading-top h1{
    font-weight: bolder;
    color: #3bb;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about div{
    padding: 1%;
}
.about div .heading{
    text-align: center;
    margin-bottom: 2%;
}
.about div .heading h1 {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px grey solid;
    padding-bottom: 1%;
    margin-left: 30%;
    margin-right: 30%;
}
.about div .content p {
    font-size: large;
}
@media screen and (max-width:420px){
    .about{
        margin-top: 20%;
    }
    .about .heading-top{
        text-align: center;
    }
    .about .heading-top h1{
        font-size: larger;
        font-weight: bold;
    }
    .about div {
        padding: 0%;
        margin-bottom: 3%;
    }
   
    .about .origanaizational-structure .heading h1{
        font-size: medium;
        white-space: nowrap;
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (min-width:768px) {
    .about{
        margin-top: 10%;
    }
    .about .heading-top{
        text-align: center;
    }
}