.about{
    box-shadow: grey 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    margin-bottom: 2%;
}
.about .heading-top{
    /* box-shadow: red 0px 5px 15px; */
    margin-bottom: 2%;
    justify-content: center;
    display: flex;
}
.about .heading-top h1{
    font-weight: bolder;
    color: #3bb;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .both{
    display: flex;
    box-shadow: #3bb 0px 0px 15px;
    margin: 0% 0.5% 2% 10%;
}
.about .both .left-content{
    box-shadow: red 0px 0px 15px;
    width: 50%;
    margin-bottom: 2%;
    margin-right: 3%;
}

.about .both .left-content .content-container{
    padding-bottom:5% ;
    border-bottom: 1px solid rgb(180, 178, 178 ,0.4);
    margin-bottom: 5%;
}
.about .left-content .heading{
    padding: 1%;
}
.about div .heading h1 {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.value .content ul li {
    list-style: inside;
    margin-left: 5%;
}
.about .both .right-map{
    box-shadow: yellow 0px 0px 15px;
    margin-bottom: 2%;
}
.about .both .right-map .header h1{
    font-weight: bolder;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media screen and (max-width:428px){
    .about{
        margin: 30% 2% 3% 2%;

    }
    .about .heading-top{
        text-align: center;
    }
    .about .heading-top h1{
        font-size: larger;
        font-weight: bold;
    }
    .about div {
        padding: 0%;
        margin-bottom: 3%;
    }
   
    .about .origanaizational-structure .heading h1{
        font-size: medium;
        white-space: nowrap;
        margin-left: 0%;
        margin-right: 0%;
    }
    .about div .content p {
        font-size: medium;
        word-break: break-all;
    }
}
@media screen and (min-width:767px) and (max-width:885px) {
    .about{
        margin: 15% 3% 5%;
    }
}