.about{
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.about .heading-top{
    margin-bottom: 5%;
    justify-content: center;
    display: flex;
}
.about .heading-top h1{
    font-weight: bolder;
    color: #3bb;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .both{
    display: flex;
    margin: 0% 0.5% 2% 10%;
}
.about .both .left-content{
    width: 50%;
    margin-bottom: 2%;
    margin-right: 3%;
}
.about .both .left-content .content-container{
    padding-bottom:5% ;
    border-bottom: 1px solid rgb(180, 178, 178 ,0.4);
    margin-bottom: 5%;
}
.about .both .left-content .content-container .content{
    font-size: large;
    margin-left: 2%;
    color: rgb(56, 54, 54);
}
.about .left-content .heading{
    padding: 1%;
}
.about div .heading h1 {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.value .content ul li {
    list-style: inside;
    margin-left: 5%;
    font-size: large;
    color: rgb(56, 54, 54);
}
.about .both .right-map{
    margin-bottom: 2%;
}
.about .both .right-map .header h1{
    font-weight: bolder;
    font-size: xx-large;
    color: #3bb;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about .both .right-map .map{
    margin-top: 3%;
}
@media screen and (max-width:428px){
    .about{
        margin: 35% 2% 3% 2%;
    }
    .about .heading-top{
        text-align: center;
    }
    .about .heading-top h1{
        font-size: larger;
        font-weight: bold;
    }
    .about .both {
        flex-direction: column;
        margin-left: 0%;
        justify-content: center;
    }
    .about .both .left-content{
        width: 100%;
    }
    .about div .content p {
        font-size: medium;
    }
    .about .both .right-map{
        margin-right: 0%;
        padding-right: 0%;
    }
    .about .both .right-map .map  iframe {
        width: auto;
        height: 450px;
        margin: auto;
    }
}
@media screen and (min-width:767px) and (max-width:885px) {
    .about{
        margin: 20% 4% 0% 4%;
    }
    .about .heading-top h1{
        text-align: center;
        border-bottom: 2px solid #3bb;
        padding-bottom: 2%;
    }
    .about .both {
        flex-direction: column;
        margin-left: 0%;
        justify-content: center;
    }
    
    .about .both .left-content {
        width: 100%;
    }
    .about .heading h1{
        font-size: x-large;
        font-weight: bold;
    }
    .about div .content p {
        font-size: larger;
    }
    .value .content ul li{
        font-size: larger;
    }
    .about .both .right-map .map iframe {
        width: 600px;
        height: 600px;
        margin: auto;
    }
}