.main-container{
    box-shadow: grey 0px 5px 15px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-top: 10%;
}
.main-container .heading{
    box-shadow: rgb(202, 48, 48) 0px 5px 15px;
    margin-bottom: 2%;

}
.main-container .heading h1{
    font-size: 40px;
    color: #07173b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: 35%;
    
}
.main-container .slideshow-container .indexs{
    padding-left: 3%;
    padding-right: 3%;
}
.main-container .slideshow-container .indexs .link-div{
    border: 1px solid green;
    padding-left: 20%;
}