.main {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    margin-left: 150px;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.main .main-text h1 {
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #07173b;
    line-height: 40px;
}

.main .main-text .p1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: large;
    color: grey;
}

.main .main-text .p2 {
    font-size: large;
    margin-top: 20px;
    margin-bottom: 30px;
    color: grey;
}

.qouet {
    border-left: 3px solid red;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 350;
    color: rgb(23, 100, 187);
}

.qouet span {
    position: relative;
    left: -30px;
    top: 10px;
    color: #07173b;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.qouet span {
    margin-left: 30px;
    font-size: 20px;
}

.main .main-image {
    position: relative;
}

.main-image .person {
    z-index: 10;
}

.main .main-image .city {
    position: absolute;
    top: 40%;
    right: -20%;
    z-index: -10;
    border-bottom-right-radius: 50px;
}

.youtubeIcon {
    position: relative;
    width: 70px;
    height: 70px;
    margin-top: 30px;
    background-color: rgb(240, 51, 51);
    border-radius: 50%;
}

.triangle {
    position: absolute;
    top: 13px;
    left: 25px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 25px solid white;
    border-radius: 10px;
}

.span {
    position: relative;
    top: -65px;
    left: 90px;
    font-size: larger;
    font-weight: 600;
    color: #07173b;
}

@media screen and (max-width:700px) {
    .main {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 40px;
        flex-direction: column;
        columns: 1;
    }

    .main-text {
        padding-left: -100px;
    }

    .main .main-text h1 {
        font-size: 30px;
        white-space: wrap;
        font-weight: bold;
        line-height: 40px;
        margin-left: 10px;
    }

    .main .main-text .p1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .qouet {
        padding-left: 20px;
        font-size: large;
    }

    .qouet span {
        font-size: large;
    }

    .main .main-image {
        top: -130px;
        left: 0%;
    }

    .main-image .person {
        margin-left: 0%;
        width: 80%;
        border-top-left-radius: 40%;
    }
    .main-image .city{
        width: 80%;
        margin-right: 20%;
    }
}
@media screen and (min-width:320px) {
    .main .main-text h1 {
        font-size: 25px;
    }
}
@media screen and (min-width:768px) and (max-width:1113px) {
    .main{
        flex-direction: column;
        margin-top: 50px;
    }
    .main .main-image{
        margin-top: -100px;
    }
    .main .main-text h1{
        font-size: 40px;
    }
    .main .main-text .p1{
        font-size: 30px;
    }
    .main .main-text .p2{
        font-size: 30px;
    }
    .qouet{
        font-size: 25px;
    }
    .span{
        font-size: 30px;
    }
}