.main {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    margin-left: 150px;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
}
@media (min-width: 767px) {
    .medium-margin {
      margin-bottom: 60px; /* Adjust the margin value as per your requirement */
    }
  }
.main .main-text .h1 {
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #329898;
    line-height: 40px;
}

.main .main-text .p1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: medium;
    color: grey;
}

.main .main-text .p2 {
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 30px;
    color: grey;
}

.qouet {
    border-left: 3px solid red;
    padding-left: 50px;
    font-size: large;
    font-weight: 350;
    color: #329898;
}

.qouet span {
    position: relative;
    left: -30px;
    top: 10px;
    color: #07173b;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.qouet span {
    margin-left: 30px;
    font-size: 20px;
}

.main .main-image {
    position: relative;
}

.main-image .person {
    z-index: 10;
    width: 80%;
}

.main .main-image .city {
    position: absolute;
    top: 45%;
    right: -5%;
    z-index: -10;
    width: 80%;
    border-bottom-right-radius: 50px;
}

.youtubeIcon {
    position: relative;
    width: 70px;
    height: 70px;
    margin-top: 30px;
    background-color: rgb(240, 51, 51);
    border-radius: 50%;
}

.triangle {
    position: absolute;
    top: 13px;
    left: 25px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 25px solid white;
}

.span {
    position: relative;
    top: -65px;
    left: 90px;
    font-size: larger;
    font-weight: 600;
    color: #329898;
    cursor: pointer;
}

@media screen and (max-width:415px) {
    .main {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 40px;
        flex-direction: column;
        columns: 1;
    }

    .main-text {
        padding-left: -100px;
    }

    .main .main-text .h1{
        font-size: 25px;
    }

    .main .main-text .p1{
        font-size: 17px;
    }

    .qouet {
        padding-left: 20px;
        font-size: medium;
    }

    .qouet span {
        font-size: large;
    }

    .main .main-image {
       margin-top: -40%;
    }

    .main-image .person {
        margin-left: 1%;
        width: 80%;
        border-top-left-radius: 40%;
    }
    .main-image .city{
        width: 80%;
        margin-right: 6%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .main{
        /* box-shadow: #329898 0px 5px 15px; */
        padding: 5%;
        padding-bottom: 0%;
        margin-top: -11%;
    }
    .main .main-text .h1 {
        font-size: 30px;
    }
    .main .main-text .p1{
        font-size: 20px;
    }
    .main .main-text .p2{
        font-size: 20px;
    }
    .qouet{
        padding-left: 25px;
        font-size: 20px;
    }
    .main .main-image{
        margin-top: 10%;
        margin-left: -10%;
    }
    .main .main-image .city{
        top: 26%;
        right: -7%;
    }
}