.monument-container{
    margin: auto;
    padding-bottom: 5%;
    margin-top: 5%;
}
.monument-container .head{
    /* box-shadow: 0px 0px 10px indigo; */
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.monument-container .head h1{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3bb;
}
.monument-container .monument{
    /* box-shadow: 0px 0px 5px grey; */
    display: flex;
    columns: 4;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0% 5%;
}
.monument-container .monument div{
    width: 25%;
    padding: 1%;
}
@media screen and (max-width:320px) {
    
}
@media screen and (max-width:428px) {
    .monument-container {
            margin: auto;
            padding-bottom: 0%;
            margin-top: 40%;
    }
    .monument-container .head h1{
        text-align: center;
        font-size: 30px;
    }
    .monument-container .monument{
        flex-direction: column;
        padding: 4%;
    }
    .monument-container .monument div{
        width: 100%;
        margin-bottom: 15%;
    }
}
@media screen and (min-width: 768px) and (max-width:888px){
    .monument-container{
        margin-top: 20%;
    }
    .monument-container .head{
        margin-bottom: 4%;
    }
    .monument-container .monument{
        columns: 2;
        flex-wrap: wrap;
    }
    .monument-container .monument div{
        width: 50%;
        margin-bottom: 8%;
    }
    .monument-container .monument div p{
        font-size: larger;
    }
}