.musuem{
    margin-top: 1%;
    box-shadow: 0px 0px 15px grey;
    text-align: center;
    padding-top: 7.7%;
    background-image: url('harar_musuem.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80vh;
}
.musuem .link{
    background-color: #3bb;
    color: white;
}
.musuem .link:hover{
    color: #3bb;
    background-color: aliceblue;
}
.free-gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.free-gallary img{
    display: flex;
    width: 23%;
    margin-top: 3%;
    margin-right: 1%;
}
.description{
    display: flex; 
    justify-content: center; 
    /* box-shadow: #3bb 0px 0px 15px; */
    margin-bottom: 2%;
}
.description div{
    margin-top: 1%;
    width: 30%;
    /* box-shadow: #3bb 0px 0px 15px; */
}
@media screen and (max-width:429px) {
    .musuem{
        margin-top: 40%;
        height: 60vh;
        padding-top: 15%;
    }
    .musuem h1{
        font-size: larger;
    }
    .free-gallary{
        flex-direction: column;
        padding: 1% 2%;
    }
    .free-gallary img{
        width: 100%;
    }
    .description {
        flex-direction: column;
        padding: 0% 5%;
    }
    .description div{
        width: 100%;
        border-bottom: 2px #3bb dashed;
    }
}
@media screen and (min-width:768px) and (max-width:888px){
    .musuem{
        margin-top: 15%;
        padding-top: 15%;
        height: 60vh;
    }
    .musuem h1 {
        font-size: xx-large;
    }
    .musuem .link{
        font-size: 35px;
    }
    .free-gallary img {
        width: 45%;
    }
    .description div{
        width: 35%;
        border-right: 2px dotted #3bb;
    }
}