@keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .icon-transition {
    transition: transform 0.3s ease-in-out;
  }
  
  .animate-icon {
    transform: translateX(5px);
  }
  
  @media (max-width: 767px) {
    .mobile-margin {
      margin: 20px; /* Adjust the margin value as per your requirement */
    }
  }

  
  
  
  
  
  
  
  