.top-sector-layout {
    box-shadow: grey 0px 2px 2px -2px;
    padding: 4% 0%;
    align-items: center;
    font-size: 40px;
    background-image: url('es.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    background-size: cover;
}
.layout{
    margin: 1%;
    padding: 1%;
}
.layout .main-con{
   
    padding: 1%;
}
.layout .main-con .header{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.layout .main-con .header h1{
    font-size: xx-large;
    color: #3bb;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    /* border-bottom: #3bb inset 2px; */
    padding-bottom: 1%;
}
.layout .main-con .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-shadow: #3bb 0px 0px 15px; */
    margin-bottom: 5%;
}
.layout .main-con .content .content-container{
    width: 27%;
    box-shadow: 0px 2px 5px grey;
    padding: 2%;
    margin: 2% 1%;
}
.layout .main-con .content .content-container .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
    border-bottom: 1px dashed #3bb;
    margin-bottom: 3%;
}
.layout .main-con .content .content-container .top h1{
    font-size: x-large;
    margin-bottom: 10%;
}
.layout .main-con .content .content-container .top .icon{
    border-radius: 50%;
}
@media screen and (max-width:429px) {
    .layout {
        margin-top: 30%;
        padding-bottom: 0%;
        margin-bottom: 0%;
        /* box-shadow: red 0px 0px 15px; */
    }
   
    .layout .main-con .header h1{
        font-size: large;
    }
    .layout .main-con .content{
        flex-direction: column;
    }
    .layout .main-con .content .content-container {
        width: 100%;
        /* border-bottom: #3bb inset 2px; */
        padding-bottom: 5%;
    }
    .layout .main-con .content .content-container .top{
        border: none;

    }
    
}
@media screen and (min-width:767px) and (max-width:889px) {
    .layout{
        margin-top: 20%;
    }
    
    .layout .main-con .content {
        flex-direction: column;
        margin-bottom: 0%;
    }
    .layout .main-con .content .content-container{
        width: 100%;
        flex-direction: column-reverse;
        columns: 2;
       box-shadow: grey 0px 5px 5px -5px;
    }
    .layout .main-con .content .content-container .top {
        border: none;
    }
    .layout .main-con .content .content-container .bottom{
        padding-top: 25%;
    }
    .layout .main-con .content .content-container .bottom p{
        font-size: larger;
    }
}