.communication{
    text-align: center;
    padding: 5% 10%;
    width: 100%;
    margin-bottom: 4%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8ee10);
    box-shadow: 0px 8px 15px -15px green;
}
.communication h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
}
.desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1%;
}
.desc h1{
    font-size: xx-large;
    margin-bottom: 0.5%;
    color: #3bb;
    font-weight: 600;
}
.desc p{
    font-size: large;
    color: rgb(76, 72, 72);
}
.layout{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.layout .departments{
    /* box-shadow: 0px 0px 15px grey; */
    transition-duration: 1s;
    width: 27%;
    margin: 1% 1%;
    padding: 2%;
}
.layout .departments:hover{
    box-shadow: #3bb 0px 0px 10px;
}
.icon-container{
    /* box-shadow: #3bb 0px 0px 15px; */
    display: flex;
    justify-content: center;
    margin-top:-10% ;
    margin-bottom: 10%;
}
.icon-container .icon{
    font-size: 60px;
    color: white;
    background-color: #3bb;
    border-radius: 50%;
}
.layout .departments:hover .icon-container .icon{
    transition-duration: 1.5s;
    color: #3bb;
    background-color: white;
}
.description{
    text-align: center;
    display: block;
}
.description h1{
    font-size: x-large;
    margin-bottom: 2%;
    color: #3bb;
}
.description p{
    color: rgb(49, 47, 47);
}

@media screen and (max-width:428px) {
    .communication{
        margin-top: 25%;
    }
    .communication h1{
        font-size: larger;
    }
    .desc h1{
        font-size: x-large;
    }
    .layout{
        flex-direction: column;
    }
    .layout .departments{
        width: 100%;
    }
}
@media screen and (max-width:320px) {
    .communication {
        margin-top: 40%;
    }
}
@media screen and (min-width:768px) and (max-width:888px) {
    .communication{
        margin-top: 10%;
    }
    .desc{
        margin-bottom: 5%;
    }
    .desc h1{
        font-size: xx-large;
    }
    .desc p{
        font-size: x-large;
    }
    .layout{
        padding: 0%;
    }
    .layout .departments {
        width: 48%;
        /* box-shadow: 0px 0px 10px grey; */
    }
    .description h1{
        font-size: 30px;
    }
    .description p{
        font-size: 25px;
    }
    
}